# Componentization

1. All components inherit from the BaseComponent class.
2. A component's main HTML file should have the same name as it's parent folder. Example: /templates/components/clock/ -> clock.html

# Using Component Objects Within HTML Templates

1. When passing a component inside `props` to HTML Templates, always use capital casing. Example: clock_obj = ClockComponent(...) -> props = {"ClockComponent": clock_obj}
2. Components are always passed as python Pydantic objects to the template, which allows you to access properties. Example: {{ ClockComponent.title }}
3. For actual component HTML rendering, utilize the component's Pydantic object directly. Example: {{ ClockComponent }}

# Returning Components Directly in a Route

To return a component from a route, you must utilize it's .render() method. Example: return clock_obj.render().
